.films {
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 15px;
    place-items: center center;
}

.film__card {
    width: 100%;
    min-height: 450px;
}

.poster {
    display: block;
}

.film__card>a>img {
    height: 370px;
    width: 100%;
}

.film__descr>h3 {
    font-size: 1.3rem;
    margin: 5px 0;
    color: black;
    width: 100%;
}

.film__descr>span {
    color: #a6a6a6;
    font-size: 1.1rem;
}