@font-face {
  font-family: 'Proxima nova Rg';
  src: url(/public/fonts/ProximaNova-Regular/ProximaNova-Regular/ProximaNova-Regular.ttf);
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(/public/fonts/helvetica/HelveticaMedium/HelveticaMedium.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #242021;
  font-family: "Proxima nova Rg", "Arial", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.main__wrap {
  padding: 0;
  margin-top: 137.5px;
}

@media (max-width: 989px) {
  .main__wrap {
    margin-top: 120px;
  }
}

@media (max-width: 750px) {
  .main__wrap {
    margin-top: 87px;
  }
}

.header {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18px 55px;
  z-index: 9999;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  display: block;
  margin: 15px 0;
}

.logo__img img {
  width: 170px;
  height: 64px;
}

.header__nav {
  margin-left: 0;
  margin-right: auto;
  padding: 0 1.5em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header__nav ul {
  padding: 0;
  text-align: center;
}

.header__nav > ul > li {
  display: inline-block;
}

.header__nav > ul > li a {
  display: block;
  padding: 3px 10px;
  text-decoration: none;
  color: #242021;
}

.header__right {
  text-align: right;
}

.header__right-title {
  margin-bottom: 20px;
  color: #b3b3b3;
}

.header__right-nav a {
  color: #242021;
}

.header__right-nav a span {
  vertical-align: sub;
  margin-top: 0.25em;
  margin-left: 0.25em;
}

.icon_nav {
  width: 22px;
  height: 23px;
  vertical-align: middle;
  margin-right: 3px;
  margin-left: 15px;
}

@media (max-width: 989px) {
  .header {
    max-height: 100px;
  }
  .header__right-title {
    margin-bottom: .25em;
  }
  .logo__img > img {
    width: 90px;
    height: 34px;
  }
  .header__right-nav > a > span {
    display: none;
  }
}

@media (max-width: 750px) {
  .header {
    padding: 0;
  }
  .header__nav,
  .header__right-title {
    display: none;
  }
  .header__right-nav {
    padding-right: 22px;
  }
  .logo__img {
    padding-left: 22px;
  }
  .logo__img img {
    width: 170px;
    height: 64px;
  }
}

.banner {
  width: 100%;
  height: 775px;
  margin-bottom: 55px;
  background-image: url(https://cdn.shopify.com/s/files/1/0080/8372/files/tattlyween_homepage_banner_1512x.gif?v=1570116714);
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner__full-link {
  display: block;
  height: 100%;
}

.banner__inner {
  position: absolute;
  bottom: 5%;
  left: 45%;
  z-index: 1;
}

.banner__btn-link {
  width: 205px;
  background-color: #ff4f00;
  -webkit-transition: .3s;
  transition: .3s;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  text-align: center;
  padding: 10px 18px;
}

@media (max-width: 989px) {
  .banner {
    height: 582px;
  }
}

@media (max-width: 750px) {
  .banner__inner {
    position: static;
    text-align: center;
    padding: 22px;
  }
}

.intro {
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 55px 0;
}

.intro__inner-left {
  display: block;
  width: calc(60% - 25px);
  height: 650px;
  background-image: url(https://cdn.shopify.com/s/files/1/0080/8372/files/2019_moon_phases_launch_1080x.jpg?v=1570545114);
  background-position: center;
  margin-right: 25px;
}

.intro__text {
  padding: 55px;
}

.intro__title {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 8px;
  color: #fff;
}

.intro__subtitle {
  font-size: 1.22222em;
  color: #fff;
}

.intro__inner-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: 650px;
  background-image: url(https://cdn.shopify.com/s/files/1/0080/8372/files/2019_glow_in_the_dark_900x.jpg?v=1568729700);
  background-position: center;
}

.green {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
  margin-left: auto;
  color: #98e969;
}

.section {
  max-width: 1600px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 55px;
  margin: 0 auto;
}

.section__title {
  text-align: center;
  margin-bottom: 55px;
}

.section__title h2 {
  font-size: 3em;
  font-weight: 700;
  color: #242021;
  margin: 0 0 17.5px;
}

.section__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 40px;
  gap: 40px;
  place-items: center center;
}

.tatoo__link {
  display: block;
  height: 400px;
}

.card__tatoo {
  max-width: 323px;
  max-height: 323px;
}

.first__image {
  background-image: url(../../../public/images/brand_new/moon.png);
  background-position: center;
  background-size: cover;
}

.first__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.first__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/brand_new/moon_alt.jpg);
}

.tatoo__sale {
  width: 100%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.tatoo__sale .tatoo__name,
.tatoo__sale .tatoo__price {
  font-size: 1.16667em;
  color: #242021;
  font-weight: 700;
}

.tatoo__info {
  width: 100%;
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.tatoo__info .tatoo__author {
  font-size: 18px;
  color: #242021;
  font-weight: 400;
}

.tatoo__info .tatoo__set {
  font-size: 0.85em;
  text-transform: uppercase;
  color: #b3b3b3;
}

.second__image {
  background-image: url(../../../public/images/brand_new/victory.png);
  background-position: center;
  background-size: cover;
}

.second__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.second__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/brand_new/hands.jpg);
}

.third__image {
  background-image: url(../../../public/images/brand_new/twist.png);
  background-position: center;
  background-size: cover;
}

.third__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.third__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/brand_new/arm.jpg);
}

.fourth__image {
  background-image: url(../../../public/images/brand_new/bodies.png);
  background-position: center;
  background-size: cover;
}

.fourth__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.fourth__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/brand_new/arm-body.jpg);
}

.fifth__image {
  background-image: url(../../../public/images/brand_new/pen.png);
  background-position: center;
  background-size: cover;
}

.fifth__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.fifth__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/brand_new/pen-body.jpg);
}

.sixth__image {
  background-image: url(../../../public/images/brand_new/tomato.png);
  background-position: center;
  background-size: cover;
}

.sixth__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.sixth__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/brand_new/tomato-body.jpg);
}

.seventh__image {
  background-image: url(../../../public/images/brand_new/flower.png);
  background-position: center;
  background-size: cover;
}

.seventh__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.seventh__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/brand_new/flower2.jpg);
}

.eigth__image {
  background-image: url(../../../public/images/brand_new/bee.png);
  background-position: center;
  background-size: cover;
}

.eigth__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.eigth__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/brand_new/bee-neck.jpg);
}

.tenth__image {
  background-image: url(../../../public/images/spooky_scary/spyder.png);
  background-position: center;
  background-size: cover;
}

.tenth__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.tenth__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/spooky_scary/spyder-body.jpg);
}

.eleventh__image {
  background-image: url(../../../public/images/spooky_scary/cryheart.png);
  background-position: center;
  background-size: cover;
}

.eleventh__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.eleventh__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/spooky_scary/cryheart-body.jpg);
}

.twelfth__image {
  background-image: url(../../../public/images/spooky_scary/heart.png);
  background-position: center;
  background-size: cover;
}

.twelfth__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.twelfth__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/spooky_scary/heart-body.jpg);
}

.thirteenth__image {
  background-image: url(../../../public/images/spooky_scary/flash.png);
  background-position: center;
  background-size: cover;
}

.thirteenth__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.thirteenth__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/spooky_scary/flash-full.jpg);
}

.fourteenth__image {
  background-image: url(../../../public/images/spooky_scary/facial.png);
  background-position: center;
  background-size: cover;
}

.fourteenth__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.fourteenth__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/spooky_scary/facial-body.jpg);
}

.fifteenth__image {
  background-image: url(../../../public/images/spooky_scary/snake.png);
  background-position: center;
  background-size: cover;
}

.fifteenth__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.fifteenth__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/spooky_scary/snake-body.jpg);
}

.sixteenth__image {
  background-image: url(../../../public/images/spooky_scary/skeleton.png);
  background-position: center;
  background-size: cover;
}

.sixteenth__image:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.sixteenth__image:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/spooky_scary/skeleton-body.jpg);
}

.btn__center {
  padding-top: 25px;
  text-align: center;
}

.btn__view {
  display: inline-block;
  margin: 55px 0;
  padding: 4px 0;
  color: #242021;
  border-bottom: 1px solid #242021;
  font-size: 1.25em;
  font-weight: 700;
}

.sets {
  width: 100%;
  height: 790px;
  padding: 55px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sets__item {
  display: block;
  width: 32%;
  height: 100%;
}

.sets__item h2 {
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: 700;
  color: #fff;
  text-align: right;
  padding: 50px 50px 0 0;
}

.left {
  background-image: url(../../../public/images/sets.jpg);
  background-position: center center;
}

.middle {
  background-image: url(../../../public/images/tins.jpg);
  background-position: center center;
}

.middle h2 {
  color: #242021;
}

.right {
  background-image: url(../../../public/images/sheets.jpg);
  background-position: center center;
}

.right h2 {
  text-align: left;
  padding: 50px 0 0 45px;
}

.about {
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 55px;
  max-width: 1600px;
  margin: 0 auto;
}

.about__title {
  margin-bottom: 55px;
  text-align: center;
}

.about__title h2 {
  font-size: 3em;
  line-height: 1.1;
  font-weight: 700;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  width: 25%;
  padding-left: 30px;
  text-align: center;
}

.about__item img {
  width: 250px;
  height: 250px;
}

.about__item .about__text {
  text-align: center;
  max-width: 350px;
  margin: 0 0 19.44444px;
}

.btn__center--about {
  padding-top: 0;
}

.btn__center--about .btn__view {
  margin-top: 30px;
  margin-bottom: 0;
}

.footer {
  margin: 55px 0 0;
}

.wave {
  display: block;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 55px 55px 55px;
  background-color: #f4f4f4;
}

.footer__item {
  padding-left: 30px;
  margin-top: 55px;
}

.footer__item:nth-child(3n) {
  padding-left: 120px;
}

.footer__item h2 {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 17.5px;
}

.footer__item--top {
  width: 33.33333%;
}

.footer__item--subitem-left {
  width: 66.66667%;
}

.footer__item--subitem-right {
  width: 33.33333%;
  padding-left: 120px;
}

.footer__item--subitem-right .copy {
  font-size: 0.83333em;
  margin: 0 0 19.44444px;
}

.footer__item--subitem-right .swiss {
  font-size: 0.8em;
  color: #6d6d6f;
}

.stuff__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stuff__box ul {
  width: 175px;
  padding: 0;
  margin: 0;
  text-align: left;
  list-style-type: none;
}

.stuff__box ul li {
  display: block;
  padding-bottom: 6px;
}

.stuff__box ul li a {
  font-weight: 400;
  color: #242021;
  text-decoration: none;
}

.discount {
  font-size: 0.88888em;
  margin-bottom: .5em;
}

.accept {
  font-size: 0.8em;
  color: #6d6d6f;
}

.grey__link {
  color: #242021;
  font-weight: 600;
  text-decoration: underline;
  -webkit-transition: .3s;
  transition: .3s;
}

.grey__link:hover {
  color: #b3b3b3;
}

.team {
  max-width: 745px;
  font-size: 0.83333em;
}

.search-container {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 46px;
}

.search-container input[type=text] {
  width: 72%;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  padding: 10px 18px;
  background-color: #fff;
}

.search-container button[type=submit] {
  width: 28%;
  padding: 10px 18px;
  font-size: 16px;
  color: #fff;
  background-color: #242021;
  line-height: 1.2;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  cursor: pointer;
}

.social {
  padding: 0;
  margin: 0 0 35px 0;
}

.social li {
  display: inline-block;
  list-style: none;
}

.social li > a {
  padding: 0 3px;
}

.social__icon {
  width: 25px;
  height: 25px;
}

.red__brand {
  width: 60px;
  height: 60px;
  background-color: #ed3232;
  border-radius: 30px;
  padding: 15px;
}

.social__icon {
  width: 25px;
  height: 25px;
}

.red__brand {
  position: fixed;
  left: 1.5%;
  bottom: 2%;
  width: 60px;
  height: 60px;
  background-color: #ed3232;
  border-radius: 30px;
  cursor: pointer;
}

.red__brand .unscroll__brand {
  width: 30px;
  height: 30px;
  color: #fff;
}

.author {
  padding-top: 110px;
  margin-bottom: 110px;
  background-color: #d7f3fb;
}

.center__content {
  max-width: 1600px;
  padding-left: 55px;
  padding-right: 55px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.author__left {
  width: 50%;
  padding-left: 30px;
}

.view__link {
  display: block;
  margin-top: -3em;
  margin-bottom: 1em;
  padding: 0.25em 0;
  color: #242021;
  position: relative;
  right: -23px;
}

.view__arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: -23px;
}

.author__photo {
  width: 100%;
  margin-bottom: 110px;
}

.author__right {
  width: 42%;
  padding-left: 30px;
}

.author__right h1 {
  font-size: 6em;
  line-height: 1;
  margin: 0 0 17.5px;
  font-weight: 700;
}

.author__right p {
  margin-top: 1.5em;
  margin-bottom: 19.44444px;
}

.author__right ul {
  margin: 1.5em 0 0;
  padding-top: 0.75em;
  padding-left: 0;
  list-style: none;
  font-size: 1.25em;
  background: url(//cdn.shopify.com/s/files/1/0080/8372/t/37/assets/wave.svg?7034) left top no-repeat;
}

.author__right ul > li {
  margin: 0;
}

dl {
  margin: 0.25em 0;
}

dt,
dd {
  display: inline-block;
}

dt {
  margin-right: 0.25em;
  font-weight: 700;
}

dd {
  margin: 0;
}

.no-line {
  text-decoration: none;
}

.collections {
  padding-top: 0;
}

.section__title--Tea {
  text-align: left;
}

.section__title--Tea h2 {
  line-height: 1.1;
}

.section__title--Tea h2 > span {
  color: #8f91c6;
}

.sale {
  width: 70px;
  height: 32px;
  shape-outside: polygon(0 0, 100% 0, 85px 15px, 100% 100%, 0 100%);
  shape-margin: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 85px 15px, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 55px 15px, 100% 100%, 0 100%);
  padding: 0.4em 0.5em 0.25em 0.75em;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-align: left;
  background-color: #ec2227;
  position: relative;
  position: absolute;
  top: 15px;
  z-index: 1;
}

#discount {
  color: #ec2227;
}

.first__image-tea {
  position: relative;
  background-image: url(../../../public/images/collections/crystal.png);
  background-position: center;
  background-size: cover;
}

.first__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.first__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/crystal-body.jpg);
}

.second__image-tea {
  background-image: url(../../../public/images/collections/antlers.png);
  background-position: center;
  background-size: cover;
}

.second__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.second__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/antlers-body.jpg);
}

.third__image-tea {
  background-image: url(../../../public/images/collections/doe.png);
  background-position: center;
  background-size: cover;
}

.third__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.third__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/doe-body.jpg);
}

.fourth__image-tea {
  background-image: url(../../../public/images/collections/gems.png);
  background-position: center;
  background-size: cover;
}

.fourth__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.fourth__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/gems-alt.jpg);
}

.fifth__image-tea {
  background-image: url(../../../public/images/collections/fern.png);
  background-position: center;
  background-size: cover;
}

.fifth__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.fifth__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/fern-body.jpg);
}

.sixth__image-tea {
  background-image: url(../../../public/images/collections/flora.png);
  background-position: center;
  background-size: cover;
}

.sixth__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.sixth__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/flora-body.jpg);
}

.seventh__image-tea {
  background-image: url(../../../public/images/collections/mistle.png);
  background-position: center;
  background-size: cover;
}

.seventh__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.seventh__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/mistle-body.jpg);
}

.eigth__image-tea {
  background-image: url(../../../public/images/collections/pinky.png);
  background-position: center;
  background-size: cover;
}

.eigth__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.eigth__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/pinky-body.jpg);
}

.ninth__image-tea {
  background-image: url(../../../public/images/collections/rose.png);
  background-position: center;
  background-size: cover;
}

.ninth__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.ninth__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/rose-body.jpg);
}

.tenth__image-tea {
  background-image: url(../../../public/images/collections/rosebud.png);
  background-position: center;
  background-size: cover;
}

.tenth__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.tenth__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/rosebud-body.jpg);
}

.eleventh__image-tea {
  background-image: url(../../../public/images/collections/serpent.png);
  background-position: center;
  background-size: cover;
}

.eleventh__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.eleventh__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/serpent-body.jpg);
}

.twelfth__image-tea {
  background-image: url(../../../public/images/collections/snowflake.png);
  background-position: center;
  background-size: cover;
}

.twelfth__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.twelfth__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/snowflake-body.jpg);
}

.thirteenth__image-tea {
  background-image: url(../../../public/images/collections/song_bird.png);
  background-position: center;
  background-size: cover;
}

.thirteenth__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.thirteenth__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/songbird-body.jpg);
}

.fourteenth__image-tea {
  background-image: url(../../../public/images/collections/sprig.png);
  background-position: center;
  background-size: cover;
}

.fourteenth__image-tea:hover:after {
  opacity: 1;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.fourteenth__image-tea:after {
  opacity: 0;
  content: "";
  display: block;
  width: 323px;
  height: 323px;
  background-size: cover;
  background-image: url(../../../public/images/collections/sprig-body.jpg);
}

.content__wrap {
  padding-top: 55px;
}

.blog__header {
  padding-top: 20px;
  background-color: #eaf3f9;
  margin-bottom: 110px;
}

.blog__block-content {
  max-width: 1400px;
  padding-left: 55px;
  padding-right: 55px;
  margin: 0 auto;
}

.inner__wrap {
  margin-bottom: 55px;
}

.section__header {
  margin-bottom: 55px;
  height: 129px;
  background: url(//cdn.shopify.com/s/files/1/0080/8372/t/37/assets/blog-title_260x@2x.png?7088) left center no-repeat;
  background-size: contain;
}

.img__container {
  width: 981.25px;
  height: 785px;
  margin-bottom: 20px;
  background: url(../../../public/images/blog/blog_pumpkin.jpg) center no-repeat;
  background-size: 100%;
}

.category {
  font-size: 1.25em;
  color: #4d4446;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 17.5px;
}

.main__blog-title {
  font-size: 4em;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 17.5px;
}

.rte {
  font-size: 1.25em;
  margin-bottom: 35px;
}

.article__date {
  display: inline-block;
  margin-bottom: 22px;
  color: #b3b3b3;
}

.block {
  margin-bottom: 110px;
  height: 485px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__image {
  height: 465px;
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
}

.article__image img {
  width: 100%;
  height: 100%;
}

.article__header {
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
}

.article__header .article__suptitle {
  font-size: 1.25em;
  color: #4d4446;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 17.5px;
  font-weight: 700;
  line-height: 1.2;
}

.article__header h2 {
  font-size: 3em;
  margin: 0 0 17.5px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.1;
}
/*# sourceMappingURL=main.css.map */